In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [3]:
data = pd.read_csv("HR_DT.csv")
data

,Position of the employee,no of Years of Experience of employee,monthly income of employee
0,Business Analyst,1.1,39343
1,Junior Consultant,1.3,46205
2,Senior Consultant,1.5,37731
3,Manager,2.0,43525
4,Country Manager,2.2,39891
...,...,...,...
191,Region Manager,3.9,55794
192,Partner,4.0,56957
193,Senior Partner,4.0,57081
194,C-level,4.1,61111
195,CEO,4.5,67938

In [4]:
data.isna().sum()

Position of the employee                 0
no of Years of Experience of employee    0
 monthly income of employee              0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 3 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Position of the employee               196 non-null    object
 1   no of Years of Experience of employee  196 non-null    float64
 2    monthly income of employee            196 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.7+ KB

In [6]:
#converting into binary
lb = LabelEncoder()

In [7]:
categorical_features=[feature for feature in data.columns if data[feature].dtypes=='O']
categorical_features

['Position of the employee']

In [8]:
#converting into binary
lb = LabelEncoder()

for i in categorical_features:
    data[i] = lb.fit_transform(data[i])

data

,Position of the employee,no of Years of Experience of employee,monthly income of employee
0,0,1.1,39343
1,4,1.3,46205
2,8,1.5,37731
3,5,2.0,43525
4,3,2.2,39891
...,...,...,...
191,7,3.9,55794
192,6,4.0,56957
193,9,4.0,57081
194,1,4.1,61111
195,2,4.5,67938

In [9]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [10]:
data.columns.to_list()

['Position of the employee',
 'no of Years of Experience of employee',
 ' monthly income of employee']

In [11]:
#split dataset in features and target variable
feature_cols = ['Position of the employee',
'no of Years of Experience of employee']
X = data[feature_cols] # Features
y = data[' monthly income of employee'] # Target variable

In [12]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0) # 70% training and 30% test

In [13]:
from sklearn.tree import DecisionTreeClassifier

## **Building Decision Tree Model**

In [15]:
# # Create Decision Tree classifer object
# clf = DecisionTreeClassifier()
clf = DecisionTreeClassifier(criterion='entropy')

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

# #Predict the response for test dataset
y_pred = clf.predict(X_test)

In [16]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7966101694915254

## **Optimizing Decision Tree Performance**

In [29]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy", max_depth=5)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8305084745762712

## **Random Forest**

In [41]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier(criterion = 'entropy',n_estimators=100)
model1.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy')

In [43]:
model1.score(X_test,y_test)

0.3898305084745763